{{#each data as |discussion|}}
  <div class="forum-list">
    {{app/avatar-holder src=discussion.user.image name=discussion.user.name }}
    <div class="holder layout-row">
      <div class="list-left flex-75">
        {{app/tag-list tagList=tagList}}
        <div class="form-list-title mt-2 mb-2 text-semibold">{{discussion.title}}</div>
        <div class="form-list-desc ellipsis">{{html-safe (truncate discussion.description descriptionTruncateLimit true)}}</div>
      </div>
      <div class="list-right flex-25">
        <div class="listinfo-holder display-inline">
          <div class="item">
            <span class="list-caption">Asked by:</span>
            <span class="list-value">Jack Vimal</span>
          </div>
          <div class="item">
            <span class="list-caption">Date:</span>
            <span class="list-value">Apr 1, 01:30 PM</span>
          </div>
          <div class="item">
            <span class="list-caption">Answers:</span>
            <span class="list-value">10</span>
          </div>
        </div>
        <div class="like-holder display-inline">
            <div class="display-inline list-like-color">{{paper-icon "remove_red_eye" size=18}}</div>
            <div class="display-inline"><span class="list-like-count">55</span></div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
