<div class="route-home">
  {{#if (or discussion.isLoaded)}}
    {{#if (gt discussion.content.length 0) }}
      <div class="home-wrapper">
        <div class="forum-list-wrapper p-3">
          {{#each discussion as |item|}}
            {{route-home/forum-list discussion=item}}
          {{/each}}
          {{app/lazy-loading page=page loadMore=(action 'loadMore') loadedCount=loadedCount totalCount=totalCount perPage=perPage}}
        </div>
      </div>
    {{else}}
      {{app/empty-state}}
    {{/if}}
  {{else}}
    {{app/app-loader level2=true}}
  {{/if}}
</div>
