<div class="author-bio-wrapper">
  {{#paper-item class="md-2-line"}}
    <!-- <img src={{user.image}} alt={{user.name}} class="md-avatar"> -->
    {{app/avatar-holder src=user.image name=user.name class="md-avatar" }}
    <div class="md-list-item-text">
      <h3 class="name text-semibold">{{user.name}}</h3>
      <div class="inner-container">
        {{#if timestamp}}
          <span class="meta mr-3">
            <span class="pr-1">{{paper-icon "access_time" size=12}}</span><span class="meta-sub">{{moment-format timestamp 'MMM-DD-YYYY, hh:mm A'}}</span>
          </span>
        {{/if}}
      </div>
    </div>
  {{/paper-item}}
</div>
