<div class="author-bio-wrapper">
  {{#paper-item class="md-2-line"}}
    <img src={{user.image}} alt={{user.name}} class="md-avatar">
    <div class="md-list-item-text">
      <h3 class="name text-semibold">{{user.name}}</h3>
      <div class="inner-container">
          <span class="meta mr-3"><span class="pr-1">{{paper-icon "access_time" size=12}}</span><span class="meta-sub">April 1, 2017</span></span>
          <span class="meta mr-3"><span class="pr-1">{{paper-icon "drafts" size=12}}</span><span class="meta-sub">Draft</span></span>
      </div>
    </div>
  {{/paper-item}}
</div>
