<div class="search-wrapper">
  {{input
    value=term
    autofocus=true
    on-change=(action (mut term))
    key-down=(perform searchResults)
    id="quick-search-input"
    class="quick-search-input ember-text-field"
  }}

  {{#if (or isTermPresent showResultsDropdown)}}
    <ul class="quick-search-wrapper">
      {{#if searchResults.isRunning}}
        <li class="result-info"> Loading.. </li>
      {{else}}
        {{#if (and searchResults.lastSuccessful.value.discussions (not isTermPresent))}}
          <li class="result-header">Recent Search Results</li>
        {{else if (not isTermPresent)}}
          <li class="result-info"> Start typing to search for questions... </li>
        {{/if}}
        {{#each searchResults.lastSuccessful.value.discussions as |discussion|}}
          <li>
            {{#link-to 'discussion' discussion.id class="cursor-pointer"}}
              {{truncate discussion.title 40 true}} (#{{discussion.id}})
            {{/link-to}}
          </li>
        {{else if isTermPresent}}
          <li class="result-info"> No Results Found </li>
        {{/each}}
        {{#if showLinkToPage}}
          <li class="result-info"> {{#link-to 'search' (query-params term=term)}} View All Results {{/link-to}} </li>
        {{/if}}
      {{/if}}
    </ul>
  {{/if}}
</div>
