<div class="side-navbar {{routeName}} {{sideBarDefaultViewState}} {{if forli.showLoginDialog "bring-back"}}">
  {{#paper-list class="filter-list"}}
    {{#paper-subheader}}
      Filter
      {{#if hasFilter}}
        {{#link-to "home" (query-params tag_ids=undefined filter=undefined) class="reset-sidebar"}}RESET{{/link-to}}
      {{/if}}
    {{/paper-subheader}}
    {{#each staticFiters as |filter|}}
      {{#link-to "home" (query-params filter=filter tag_ids=undefined) current-when="home"}}
        {{#paper-item class=(if (eq filter filterParam) "tag menu-active" "tag")}}
          <p class="tag-item">{{filter}}</p>
        {{/paper-item}}
      {{/link-to}}
    {{/each}}
  {{/paper-list}}
  {{#paper-list class="filter-list"}}
    {{#paper-subheader}}Tags{{/paper-subheader}}
    {{#if tags.isLoaded}}
      {{#if (gt tags.length 0)}}
        {{#each tags as |item|}}
          {{#link-to "home" (query-params tag_ids=item.id)}}
            {{#paper-item class=(if (eq filterId item.id) "tag menu-active" "tag")}}
              <p class="tag-item tag-{{item.color}}">{{item.name}}</p>
            {{/paper-item}}
          {{/link-to}}
        {{/each}}
      {{else}}
        <div class="no-data-t">Tags not available!!!</div>
      {{/if}}
    {{else}}
      {{app/app-loader level1=true}}
    {{/if}}
    {{#if (gt meta.count limit)}}
      {{#paper-item class="text-link pt-1"}}{{#link-to 'tag-list'}}..more{{/link-to}}{{/paper-item}}
    {{/if}}
  {{/paper-list}}
  <div class="ask-btn-wrapper">
  {{#link-to 'ask'}}
    {{#paper-button raised=true primary=true class="m-0"}}Ask Question{{/paper-button}}
  {{/link-to}}
  </div>
</div>
