<div class="question-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <div class="author-wrapper">
        {{app/author-bio user=currentUser.user}}
      </div>
      <div class="ask-question-wrapper">
        <div class="layout-row">
          <div class="layout-column flex">
            {{input type="text" class="input-title mt-3 mb-3" placeholder="What do you want to ask?" label="Title of your question" value=title onChange=(action (mut title))}}
          </div>
        </div>
        <div class="editor-wrapper">
          {{app/forli-editor content=editorContent}}
        </div>
        <div class="layout-row layout-align-center-center flex mt-3">
          <div class="flex">
            {{#paper-chips readOnly=readOnly removeItem=(action "removeCustomItem") addItem=(action "addCustomItem")
            placeholder="Add a tag" content=tags as |item|}}
            <div>{{item}}</div>
            {{/paper-chips}}
          </div>
          <div class="flex">
            <div class="btn-wrapper text-right">
              {{#paper-button raised=true onClick=(action "basicSubmitAction") class="m-0" primary=true}}Ask question{{/paper-button}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="related-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      {{!-- {{#if (gt discussion.content.length 0) }} {{route-home/forum-list data=discussion}} {{/if}} --}}
    </div>
  </div>
</div> -->
