{{input
  label="Search Forli"
  value=term
  on-change=(action 'debouncedSearch' (mut term))
  on-enter=(action "searchOnEnter")
}}
{{#unless isLoading}}
  {{log 'loaded' resultsPresent termPresent pageMaxBound}}
  {{#if showResultsCheck}}
    {{log 'results there' searchResults.discussions}}
    <div class="forum-list-wrapper p-3">
      {{route-home/forum-list data=searchResults.discussions}}
    </div>
  {{else if termPresent}}
    {{app/empty-state emptyText="No results found for your search"}}
  {{/if}}
{{/unless}}
