{{input
  value=term
  autofocus=true
  on-change=(action (mut term))
  key-down=(action 'debouncedSearch')
  class="app-search-input ember-text-field"
}}

{{#if isLoading}}
  {{app/app-loader level2=true}}
{{else}}
  {{#if showResultsCheck}}
    <div class="forum-list-wrapper p-4">
      {{#each searchResults.discussions as |item|}}
        {{route-home/forum-list discussion=item}}
      {{/each}}
      {{app/lazy-loading page=page loadMore=(action 'setSearchPage') loadedCount=loadedCount totalCount=totalCount perPage=limit}}
    </div>
  {{else if termPresent}}
    {{app/empty-state emptyText="No results found for your search"}}
  {{/if}}
{{/if}}
