<div class="comment">
  <div class="author-wrapper">
    {{app/author-bio user=userInfo.data}}
    <div onClick={{action 'enableReply'}} class="comment-reply-btn">Reply</div>
  </div>
  <div class="answer">
    <div class="vote-wrapper">
      {{app/vote-holder votes=votes voteAction=answer.voteAction upVote=(action 'upVote') downVote=(action 'downVote')}}
    </div>
    {{answer.content}}
  </div>
  {{#if replies}}
    <div class="reply-wrapper">
      {{#each replies as |reply|}}
        <div class="reply">
          <p>{{reply.content}} - <span class="author"><a href="#">{{reply.user.name}}</a></span>
            <span class="time">{{paper-icon "access_time" size=12}} {{moment-format reply.createdAt 'MMM DD, YYYY'}}</span>
          </p>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#if showReply}}
    {{app/comment-input direction="end" buttonText=buttonText content=replyContent onsuccess=(action 'submitReply')}}
  {{/if}}
</div>
