<div class="discussion-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <div class="vote-outer-wrapper">
        <div class="vote-wrapper">{{app/vote-holder votes=votes voteAction=discussion.voteAction upVote=(action 'upVote') downVote=(action 'downVote')}}</div>
      </div>
      <h1 class="title">{{discussion.title}}</h1>
      <div class="author-wrapper">
        {{app/author-bio user=discussion.user timestamp=discussion.createdAt}}
      </div>
      <div class="description">
        {{{discussion.description}}}
      </div>
      <div class="tags-wrapper pt-3 pb-3">
        {{app/tag-list tagList=discussion.tags class="tags-large"}}
      </div>
    </div>
  </div>
</div>

<div class="answers-wrapper">
  <div class="answers-banner">
    <div class="layout-row layout-xs-column">
      <div class="flex-80 flex-offset-10">
        <h3>{{answers.length}} Answers</h3>
      </div>
    </div>
  </div>
</div>

<div class="comments-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <div class="comment-wrapper">
        {{#if (gt discussion.answers.length 0)}}
          {{#each discussion.answers as |answer|}}
            {{app/comment-holder commentAdded=commentAdded buttonText="Reply" answer=answer}}
          {{/each}}
        {{else}}
          <div class="no-answers">
            {{#if currentUser.user}}
              <p>Be the first one to answer!</p>
            {{else}}
              <p>Please {{#link-to 'login'}}login{{/link-to}} to answer!</p>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#if currentUser.user}}
  <div class="answer-input-wrapper">
    {{app/comment-input buttonText="Answer" content=content direction="center" onsuccess=(action 'submitAnswer')}}
  </div>
{{/if}}

{{#if (gt relatedQuestions.length 0) }}
<div class="related-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <h4 class="container-title">Related Questions</h4>
      <div class="card-wrapper">
        <div class="layout-row">
          {{#each relatedQuestions as |relatedQuestion|}} {{app/card-holder discussion=relatedQuestion target='_blank'}} {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
