<div class="discussion-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <div class="vote-outer-wrapper"><div class="vote-wrapper">{{app/vote-holder}}</div></div>
      <h1 class="title">{{discussion.title}}</h1>
      <div class="author-wrapper">
        {{app/author-bio user=userInfo.data}}
      </div>
      <div class="description">
        {{{discussion.description}}}
      </div>
      <div class="tags-wrapper pt-3 pb-3">
        {{app/tag-list tagList=discussion.tags class="tags-large"}}
      </div>
    </div>
  </div>
</div>

{{#if (gt relatedQuestions.length 0) }}
<div class="related-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
          <h4 class="container-title">Related Questions</h4>
      <div class="card-wrapper">
        <div class="layout-row">
          {{#each relatedQuestions as |relatedQuestion|}}
            {{app/card-holder discussion=relatedQuestion}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="answers-wrapper">
  <div class="answers-banner">
    <div class="layout-row layout-xs-column">
      <div class="flex-80 flex-offset-10">
        <h3>15 Answers</h3>
      </div>
    </div>
  </div>
</div>

<div class="comments-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <div class="comment-wrapper">
        {{app/comment-holder}}
      </div>
    </div>
  </div>
</div>