<div class="discussion-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <h1 class="text-semibold mb-1">{{discussion.title}}</h1>
      <div class="author-wrapper">
        {{app/author-bio user=userInfo.data}}
      </div>
      <div class="description">
        {{{discussion.description}}}
      </div>
      <div class="tags-wrapper pt-3">
        {{app/tag-list tagList=discussion.tags class="tags-large"}}
      </div>
    </div>
  </div>
</div>

<div class="related-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <div class="layout-row flex">

        {{app/card-holder cardAuthor=userInfo.data}}
        {{app/card-holder cardAuthor=userInfo.data}}
        {{app/card-holder cardAuthor=userInfo.data}}
        {{app/card-holder cardAuthor=userInfo.data}}

      </div>
    </div>
  </div>
</div>

<div class="answers-wrapper">
  <div class="answers-banner">
    <div class="layout-row layout-xs-column">
      <div class="flex-80 flex-offset-10">
        <h3>15 Answers</h3>
      </div>
    </div>
  </div>
</div>

<div class="comments-wrapper container-wrapper">
  <div class="layout-row layout-xs-column">
    <div class="flex-80 flex-offset-10">
      <div class="comment-wrapper">
        {{app/comment-holder}}
      </div>
    </div>
  </div>
</div>
