<header class={{if bringBack "bring-back"}}>
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button class="burger-menu" iconButton=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    {{#link-to 'index' (query-params tag_ids=undefined filter=undefined)}}
      <h2 class="text-semibold">Forli</h2>
    {{/link-to}}
    <span class="flex"></span>
    {{#if forli.searchEnabled}}
      {{app/quick-search showSearchBar=showSearchBar}}
    {{/if}}
    {{#paper-button class="global-search" iconButton=true}}
      {{paper-icon "search"}}
    {{/paper-button}}

    {{#link-to 'ask'}}
      {{#paper-button iconButton=true}}
        {{paper-icon "add_circle_outline"}}
      {{/paper-button}}
    {{/link-to}}
    {{#if forli.userLoggedIn}}
      {{#paper-menu isOpen=menuFourIsOpen position="target-right target" as |menu|}}
        {{#menu.trigger}}
          {{#paper-button onClick=null iconButton=true class="user-button"}}
            {{paper-icon "account_circle" class="md-menu-origin"}}
          {{/paper-button}}
        {{/menu.trigger}}

        {{#menu.content class="user-menu" as |content|}}
          {{#each items as |item|}}
            {{#content.menu-item onClick=(action "signOut")}}
              <p style="width: 92px; z-index=999999;">{{item.title}}</p>
              {{paper-icon item.icon class="md-menu-align-target"}}
            {{/content.menu-item}}
          {{/each}}
        {{/menu.content}}
      {{/paper-menu}}
    {{else}}
      {{#paper-button raised=true primary=true class="login-button" onClick=(action "promptDialog")}}log in{{/paper-button}}
      {{#paper-button raised=true primary=true class="signin-button" onClick=(action "promptSigninDialog")}}Sign in{{/paper-button}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
<div class="toolbar-bottom"></div>
</header>
