<div class="answer-input-container">
  <div class="layout-row layout-align-{{direction}}-center p-3">
    <div class="flex-initial">
      <div class="author-bio-wrapper">
      {{app/avatar-holder src=userInfo.data.image name=userInfo.data.name class="md-avatar" }}
      </div>
    </div>
    <div class="flex-60">
      <div class="answer-box">
        {{textarea value=content cols="50" rows="1"}}
      </div>
    </div>
    <div class="flex-initial">
      <div class="btn-wrapper pl-3">
        {{#if (gte content.length 1)}}
          {{#paper-button onClick=(action 'onsuccess') class="comment-submit-btn" raised=true primary=true class="m-0"}}{{buttonText}}{{/paper-button}}
        {{else}}
          <div class="disable-button">
            {{#paper-button class="comment-submit-btn" raised=true primary=true class="m-0"}}{{buttonText}}{{/paper-button}}
          </div>
      {{/if}}
      </div>
    </div>
  </div>
</div>
