{{#app/app-container}}
  {{app/login-dialog}}
  {{app/global-header}}
  {{app/side-bar routeName=(concat 'sidebar-state-' currentRouteName) filters=filters}}
  <div class="app-wrapper router-{{currentRouteName}}">
    {{outlet}}
  </div>
  {{app/global-footer}}
{{/app/app-container}}
